<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, target-densitydpi=medium-dpi"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="mandiri-call-page">
<div ng-app="myUrl" ng-controller="urlCtrl">
    <div class="imageMasterCardMandiriRejected" ng-click="routeTo('cc-auth.html')"></div>
    <div class="wrapper">
    	<span class="OpenSans">
        		<span class="bigAndBold">
              	SORRY!<br>
              </span>
              <b>Authentication Failed</b>
      </span>
    </div>
    <div class="rectangle-yellow" ng-click="routeTo('cc-auth.html')">
    </div>
    <button class="closeBottom" ng-click="routeTo('cc-auth.html')">
    </button>
    <div class="text-centerNotification">
        <span class="OpenSans" ng-click="routeTo('cc-auth.html')">Starts again in</span>
    </div>
    <div class="greyCircle" ng-click="routeTo('cc-auth.html')">
        <div class="countText"><span id="countdowntimer">3</span>
        </div>
    </div>
</div>

<!-- Javascript -->
<script type="text/Javascript" src="../js/page-behaviour.js">
</script>
<script type="text/javascript">
    var timeleft=3;
    var downloadTimer = setInterval(function(){
        timeleft--;
        document.getElementById("countdowntimer").textContent = timeleft;
        if(timeleft==0) {
            moveTo('cc-auth.html');
        }
        if(timeleft <= 0)
            clearInterval(downloadTimer);
    },1000);
</script>
<!-- Javascript -->

<!-- Modules -->
<script src="../js/app.js"></script>

<!-- Controllers -->
<script src="../js/controllers/MyController.js"></script>
</body>
</html>
