<a href="#!/pin-entry">
    <div class="wrapper-balance">
        <span class="OpenSans-Small" ng-click="routeTo('pin-entry.html')"><b>eMoney Balance</b><br></span>
        <span class="OpenSans" ng-click="routeTo('pin-entry.html')"><b>Rp   </b></span>
        <span id="total-balance" class="OpenSans-Big" ng-click="routeTo('pin-entry.html')"><b> 0</b></span>
        <span class="OpenSans" ng-click="routeTo('pin-entry.html')"><b>,00</b></span>
    </div>
</a>
<div class="wrapper-topUp">
    <span class="OpenSans" onclick="routeTo('pin-entry.html')"><b>Select top up</b></span>
</div>
<div style="text-align:center;">
    <button type="button" id="topUp-25k" class="topUp-25k" value="25,000" onclick="topUp(25000)"> </button>
    <button type="button" id="topUp-50k" class="topUp-50k" value="50,000" onclick="topUp(50000)"> </button>
    <button type="button" id="topUp-100k" class="topUp-100k" value="100,000" onclick="topUp(100000)"> </button>
    <button type="button" id="topUp-200k" class="topUp-200k" value="200,000" onclick="topUp(200000)"> </button>
</div>
<a href="#!/card-tap-first">
    <div class="rectangle-yellow" ng-click="routeTo('card-tap-first.html')">
    </div>
    <div>
        <button type="button" class="closeBottom" ng-click="routeTo('card-tap-first.html')">
        </button>
    </div>
    <div class="text-centerNotification">
        <span class="OpenSans" ng-click="routeTo('card-tap-first.html')">Cancel</span>
    </div>
</a>