<div class="imageMasterCardMandiriRejected"></div>
<div class="imageCreditCardWithBorderRejected"></div>
<div class="wrapper">
    <span class="OpenSans">
            <span class="bigAndBold">
                SORRY!<br>
              </span>
    <b>Authentication Failed</b>
    </span>
</div>
<div class="rectangle-yellow" ng-click="routeTo('cc-auth.html')">
</div>
<button class="closeBottom" ng-click="routeTo('cc-auth.html')">
</button>
<div class="text-centerNotification">
    <span class="OpenSans" ng-click="routeTo('cc-auth.html')">Starts again in</span>
</div>
<div class="greyCircle" ng-click="routeTo('cc-auth.html')">
    <div class="countText">{{timeleft}}</div>
</div>