<div class="wrapper-balance">
    <span class="OpenSans"><img src="../img/e-money_orange.png">
		<b>updated ! </b><br></span>
</div>
<div class="thumb"></div>
<div class="wrapper-success">
    <span class="OpenSans-Smaller"><b>YOUR NEW BALANCE</b>
		</span>
</div>
<div class="wrapper-print">
    <span class="OpenSans"><b>Rp   </b></span>
    <span class="OpenSans-Big"><b> 81.000</b></span>
    <span class="OpenSans"><b>,00</b></span>
</div>
<div class="printReceipt">
</div>
<a href="#!/">
    <div class="rectangle-yellow" ng-click="routeTo('../index.html')">
    </div>
    <button class="closeBottom" ng-click="routeTo('../index.html')">
    </button>
    <div class="text-centerNotification">
        <span class="OpenSans" ng-click="routeTo('../index.html')">Exit</span>
    </div>
    <div class="greyCircle" ng-click="routeTo('../index.html')">
        <div class="countText">{{timeleft}}
        </div>
    </div>
</a>