<a href="#!/cc-auth">
    <div class="imageGoldMasterCardMandiriRejected"></div>
</a>
<div class="wrapper">
    <span class="OpenSans">
            <span class="bigAndBold">SORRY!<br>
            </span>
    <b>You dont have enough<br>balance to top up
        </b>
    </span>
</div>
<div class="rectangle-yellow">
</div>
<button class="closeBottom" ng-click="routeTo('cc-auth.html')">
</button>
<div class="text-centerNotification" ng-click="routeTo('cc-auth.html')">
    <span class="OpenSans">Starts again in</span>
</div>
<div class="greyCircle" ng-click="routeTo('cc-auth.html')">
    <div class="countText">{{timeleft}}
    </div>
</div>