<div class="imageCreditCardWithBorderFailed">
</div>
<div class="wrapper">
    <span class="OpenSans">
      		<img src="../img/e-money_orange.png"><b> failed to</b><br>
      		<b>be detected</b>
      	</span>
</div>
<div class="rectangle-yellow">
</div>
<button class="closeBottom" ng-click="routeTo('pin-entry.html')">
</button>
<div class="text-centerNotification" ng-click="routeTo('pin-entry.html')">
    <span class="OpenSans">Page close in</span>
</div>
<div class="greyCircle" ng-click="routeTo('pin-entry.html')">
    <div class="countText">{{timeleft}}
    </div>
</div>